# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv*/
env/
venv/

# Ignore system files
*.DS_Store

# Ignore logs and local dev files
*.log

# Ignore Excel/CSV data files (local only)
data/*.csv
data/*.xlsx
data/alert_summary.csv

# Ignore other personal or debug files
*.swp